.head{
    background-color:#ffffff;
    text-align:center ;
}
.projects{
    background-color: white ;

    text-align: center;
}
body{
    background-color:lightgreen;
}
h1{
    background-color:royalblue
}
p{
    background-color: paleturquoise;
}